<%= form_with(model: tweet) do |form| %>
  <% if tweet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

      <ul>
        <% tweet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card text-center" style="width: 32rem">
    <h5 class="card-title pt-2">Crear nuevo tweet</h5>
    <div class="form-group">
        <%= form.text_area(:content, cols: 50, rows: 5) %>
    </div>
    <div class="actions my-2">
      <%= form.submit "Crear nuevo tweet" %>
    </div>
  </div>
<% end %>
