<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @tweet.content %>
</p>

<% if @tweet.user_id == current_user.id %>
  <%= link_to 'Edit', edit_tweet_path(@tweet) %> 
<% end %>

<p><%= @tweet.likes.count %> <%= (@tweet.likes.count) == 1 ? 'Like' : 'Likes'%></p>


<!-- fotos de likes -->
<table>
  <thead>
    <tr>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <!-- iteramos los likes para traer los id de usuario y luego sus fotos -->
        <% Like.where(tweet_id: @tweet.id).each do |photo| %>
          <% photo_url =  photo.user_id %>
            <img src="<%= User.find(photo_url).photo_url%>" widht="80" height="80">
        <% end %>
      </td>
  </tbody>
</table>

<%= link_to 'Back', tweets_path %>
